[Unit]
Description=Printer Bot (Telegram)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/printer-bot/bot/bot.py
Restart=always
WorkingDirectory=%h/printer-bot
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target

